<div>
  {{!-- If you uncomment this line the modifier will run correctly --}}
  Counter is at: {{!this.counter}}
</div>

{{!-- Click to change 'counter' and expect 'did-update' or 'log' to rerurn --}}
<button type="button" {{on "click" this.countUp}}>
  Count Up
</button>

{{!-- This should run each time 'counter' changes --}}
<div {{did-update (fn this.sayHello this.counter)}}></div>
{{log "this.sayHello" (fn this.sayHello this.counter)}}

{{outlet}}